<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">NG FOR</div>
                <div class="card-body" >
                    <table class="table table-hover table-dark">
                        <thead>
                          <tr>
                              <th scope="col">Text</th>
                              <th scope="col">Target Date</th>
                              <th scope="col">Completed</th>
                              <th scope="col">Severity</th>
                                <th scope="col">Penalty Amount</th>
                
                          </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let x of todos">
                           <!--Pipes-->
                            <td>{{ x.text | uppercase }}</td>
                            <td>{{ x.targetDate | date: "mediumDate" }}</td>
                            <td>
                                <span [innerHTML]="x.completed | todoStatus"></span>
                            </td>
                            <td>{{ x.severity | todoSeverity | lowercase }}</td>
                            <td>{{ x.amountPenalized | currency: 'USD' }}</td>
                            
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
        </div>
    </div>
</div>
